# Gmail SMTP Settings
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=your_email@gmail.com
SENDER_PASSWORD=your_app_password # ovav kgpz ttlc ppsx


# Application Settings
DELAY_BETWEEN_EMAILS_SECONDS=5
MAX_RETRIES=3
INPUT_EXCEL_PATH=data/input_emails.xlsx
OUTPUT_EXCEL_PATH=data/log.xlsx
